<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="小区物业管理系统.Properties.Settings.kxdaglConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=kxdagl;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>